body, h1, h2, p, ul, li, a {
    margin: 0px;
    padding: 0px;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
    color: black;
}

body {
    background: #c7c7c7;
}

h2 {
    margin-top: 15px;
}

.title {
    display: flex;
    flex-wrap: wrap;
    padding-inline: 10px;
}

.formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 450px;

    background: #ffffff;
    border-radius: 15px;
    margin: 100px auto;
    box-shadow: 0 0 15px -5px black;

    font-family: 'Nunito';
}

.formulario-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulario-item {
    display: flex;
    flex-direction: column;
    width: 250px;
    font-weight: bold;

    margin: 10px;
}

.formulario-input {
    background: transparent;
    border: none;
    font-family: 'Nunito';
    font-style: italic;
    border-bottom: 2px solid black;
    outline: none;
}

.formulario-input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.formulario-enviar {
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 10px;
    margin: 15px 5px;
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 14px;
    background-color: #c7c7c7;
}

.formulario-enviar:hover {
    background-color: #5a5a5a;
    color: #ffffff;
    cursor: pointer;
}

.formulario-botoes {
    width: 250px;
    display: flex;
    text-align: center;
    margin: 0 auto;
}

.lp {
    font-weight: bold;
    width:100%;
    display: inline-block;
}

.comentario {
    margin: 10px;
    font-size: 12px;
}