@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@200;300;400&display=swap');
/* defeult */
*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

:root{
    --main-width: 1080px;
    --nav-height: 5rem;

    --distance-inline: 10rem;
    --distance-block: 4rem;
    
    --light-base-color: #F2F2F2;
    --base-color: #FF74B1;
    --base-second-color: #FFA1CF;
    --font-color: #020202;
    --second-font-color: #2c2c2c;
    --background-color: #FFF9F9;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, var(--base-color) 0%, var(--base-second-color) 37%, var(--background-color) 100%);
}

a{
    text-decoration: none;
}

.container{
    width: 60vw;
    height: 90vh;
    display: grid;
    grid-template-columns: 60% 40%;
    place-items: center;
    background-color: var(--light-base-color);
    box-shadow: 0px 0px 7px -1px var(--base-color);
    border-radius: 1rem;
}

.form{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}

form{
    display: grid;
    grid-template-columns: auto;
    place-items: center;
}

.button{
    padding: 0.5rem 0;
    background-color: var(--base-color);
    color: var(--light-base-color);
    transition: 0.3s;
    border-radius: 1rem;
    margin: 0.4rem;
    font-weight: bold;
    width: 16rem;
}

.button:active,
.button:hover{
    box-shadow: 0 0 0.75rem -0.1rem var(--base-color);
    transform: scale(1.05);
}

.buttonSpan{
    transition: 0.3s;
    transform-origin: center;
    clip-path: circle();
    padding: 0.5rem;
}

.buttonSpan:hover{
    background-color: #dddddd;
}


form span{
    margin-right: 0.5rem;
}

form h2{
    margin-bottom: 3rem;
}

/*SVG MOMENTS*/

input{
    color: var(--font-color);
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--base-color);
    outline: none;
}

input::placeholder{
    color: var(--base-color);
}

.material-symbols-outlined {
    color: var(--base-color);
    transition: 0.3s;
    transform: none;
}

#back{
    padding: 0.25rem;
    width: auto;
    clip-path: circle();
    display: flex;
    align-items: center;
    transition: 0.3s;
}

#back:hover{
    clip-path: none;
}

.buttonBack{
    padding: 0.5rem 0;
    background-color: var(--base-color);
    color: var(--light-base-color);
    transition: 0.3s;
    border-radius: 1rem;
    margin: 0.4rem;
    font-weight: bold;
    width: 16rem;
}

.buttonBack:active,
.buttonBack:hover{
    box-shadow: 0 0 0.75rem -0.1rem var(--base-color);
}

a .material-symbols-outlined{
    color: var(--light-base-color);
    text-align: center;
}

/*FIM DO SVG MOMENTS*/

input.button{
    cursor: pointer;
    border-bottom: none;
}

label{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0 0 12px -3px var(--base-second-color);
    padding: 0.5rem;
    width: 15rem;
    margin-bottom: 2em;
}

.password-container label {
    margin-bottom: 0em;
}

.password-container:has(.sec-level span) .sec-level span{
    margin-block: .5em;
}

.password-container:has(.sec-level span) {
    margin-bottom: 0em;
}

.password-container{
    margin-bottom: 2em;
}

.password-container .sec-level {
    display: none;
    margin: 0;
    padding: 0;
}

.haveAccount{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    background-image: url(../images/sample-5.jpg);
    background-position: center;
    background-size: cover;
    color: var(--second-font-color);
}


div{
    text-align: center;
}