@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@200;300;400&display=swap');
/* defeult */
*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

:root{
    --header-height: 5rem;
    --distance-inline: 10rem;
    --distance-block: 4rem;
    --light-base-color: #F2F2F2;
    --base-color: #FF74B1;
    --base-second-color: #FFA1CF;
    --font-color: #020202;
    --background-color: #FFF9F9;
}

body{
    background-color: var(--light-base-color);
}

.container{
    padding: var(--distance-block) var(--distance-inline);
}

#logo{
    width: 10rem;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

span{
    color: var(--base-color);
}

/* backToTop */
.backToTop{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 0.325rem;
    background-color: var(--background-color);
    clip-path: circle();
    z-index: 100;
}

/* header */
header{
    background: var(--light-base-color);
    font-size: 1.25rem;
    width: 100%;
}

header a{
    color: var(--font-color);
    transition: 0.2s;
    transform-origin: center;
}

header a:hover,
header a:active{
    color: var(--base-color);
}

header li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}

header img{
    width: 1.75rem;
}

nav{
    height: var(--header-height);
    padding-inline: var(--distance-inline);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    width: 100%;
    max-width: 40vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*-----Nav Header-----*/

.adm-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: var(--distance-inline);
    height: var(--header-height);

    background-color: var(--background-color);
}

.adm-nav > img{
    width: 10rem;
    height: 2rem;
    width: fit-content;
}

.nav-options a + a{
    margin-left: 1rem;
}

.nav-options a {
    font-weight: 600;
    color: #020202;
    text-decoration: none;

    transition: 0.2s;
}

.nav-options a:hover {
    color: var(--base-color);
}

/*---Menu do usuário---*/
.menu-wrapper {
    position: relative;
    cursor: pointer;
}

.menu-nav {
    cursor: default;
    position: absolute;
    display: none;
    z-index: 10;
    top: 100%;
    padding-top: 10px;

    padding: 5px;
    text-align: center;
    background-color: var(--base-second-color);
}

.menu-nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.menu-nav li a{
    display: flex;
    gap: 15px;
    width: 100%;
    font-size: 1rem;
    color: white;
}

.menu-nav a, .menu-nav li, .menu-nav li span {
    color: white;
    fill: white;
}

.menu-nav li:hover a, .menu-nav li:hover span {
    cursor: pointer;
    color: black;
    fill: black;
}

.menu-nav::after {
content: "";
position: absolute;
bottom: 100%;
left: 18px;

border-left: 5px solid transparent;
border-right: 5px solid transparent;

border-bottom: 5px solid var(--base-second-color);
}

/* footer */

footer{
    background-color: var(--base-color);
}


footer.container {
    display: flex;
    justify-content: flex-start;
    gap: 5rem;
}

footer a{
    color: var(--font-color);
    font-size: 1.75rem;
    margin-bottom: 20rem;
}

.footer-names{
    display: grid;
    grid-template-columns: auto;
    align-content: center;
}

.footer-names a,
footer p{
    font-size: 1rem;
    margin-top: 0.75rem;
    transition: 0.2s;
    margin-bottom: 0;
}

footer span{
    color: var(--light-base-color);
}

.footer-content{
    height: auto;
}

.footer-names span {
    color: var(--light-base-color);
}

.footer-names a:hover,
.footer-names p:hover {
    cursor: pointer;
    padding-left: .5rem;

    color: var(--background-color);
}

/* divider */

.divider{
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to right, var(--light-base-color), var(--base-color));
}